* {
    padding: 0;
    margin: 0;
}

.comment_root {
    width: 90%;
    height: 30rem;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.comment_user_root {
    width: 44%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    border: solid 1px darkgrey;
    border-radius: 10px;
}

.comment_list_title {
    width: 44%;
    height: 2rem;
    margin-left: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: larger;
    border: solid grey;
    border-width: 0px 0px 3px 0px;
}

.comment_list_root {
    width: 46%;
    height: 27rem;
    display: block;
}
